# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Env
.env
.env.*

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Build
dist/
build/
coverage/
